/* Start Varbiles */
:root {
  --main-color: #fdcedf;
  --third-color: #f2bed1;
  --secondry-color: #f8e8ee;
  --txt-color: #f9f5f6;
  --txt2-color: #777;
  --section-padinng: 60px;
  --border-radis: 20px;
}
/*  Start Globel Rules */
* {
  box-sizing: border-box;
}

body {
  font-family: "Sour Gummy", sans-serif;
}

html {
  scroll-behavior: smooth;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.spectial-title {
  color: var(--main-color);

  font-size: 70px;
  text-align: center;
  letter-spacing: -3px;
  margin: 0;
}
.spectial-title + p {
  margin: -15px 0 0;
  font-size: 20px;
  text-align: center;
  color: var(--txt2-color);
}

@media (max-width: 768px) {
  .spectial-title {
    font-size: 50px;
    letter-spacing: -1px;
  }
}
/* Small */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Meduim */

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/*Large*/

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* Start header  */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .logo {
  width: 60px;
}

.header .links {
  position: relative;
  top: -20px;
}
.header .links i {
  color: var(--main-color);
}
.header .links ul {
  list-style-type: none;
  margin: 20px 0 0;
  padding: 0;
  background-color: var(--main-color);
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% +15px);
  display: none;
}

.header .links:hover ul {
  display: block;
  z-index: 1;
}

.header .links ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--main-color) transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .links ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--txt-color);
  transition: 0.3s;
}
.header .links ul li a:hover {
  padding-left: 25px;
}

.header .links ul li:not(:last-child) {
  border-bottom: 2px solid var(--secondry-color);
}

/* End header */

/* home */
.home {
  background-image: url(../image/bg.jpg);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: calc(100vh - 64px);
  position: relative;
}

.home .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 400px;
  max-width: 100%;
}
.home .intro-text h1 {
  margin: 0;
  font-weight: bold;
  font-size: 50px;
  color: var(--main-color);
}
.home .intro-text p {
  font-size: 19px;

  color: var(--third-color);
}
.home .intro-text button {
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 15px;
  border-radius: 20px;
  color: var(--txt-color);
}
.home .intro-text button:hover {
  background-color: var(--third-color);
}
@media (max-width: 768px) {
  .home .intro-text {
    width: 300px;
    position: absolute;
    top: 40%;
    left: 15%;
    transform: translate(-25%, -25%);
  }
}

/* Start best selling */

.selling {
  padding-top: var(--section-padinng);
  padding-bottom: var(--section-padinng);
}
.selling .best-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
}
.selling .best-gallery .card {
  background-color: var(--txt-color);
  border-radius: var(--border-radis);
}
.selling .best-gallery .card img {
  max-width: 100%;
  border-top-left-radius: var(--border-radis);
  border-top-right-radius: var(--border-radis);
}

.selling .best-gallery .card .info {
  padding: 20px;
}
.selling .best-gallery .card .info h3 {
  margin: 0;
  color: var(--third-color);
  text-align: center;
}
.selling .best-gallery .card .info p {
  color: var(--txt2-color);
  line-height: 1.8;
  margin-bottom: 0;
  text-align: center;
}
@media (max-width: 767px) {
  .selling .best-gallery .card .info {
    text-align: center;
  }
}
.selling .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.selling .button button {
  border: 1px solid var(--third-color);
  padding: 10px;
  color: var(--third-color);
  border-radius: 15px;
  background-color: var(--txt-color);
}
.selling .button button:hover {
  background-color: var(--third-color);
  color: var(--txt-color);
}

/* End best selling */
/* Start about section */
.about {
  background-color: var(--secondry-color);
}
.about .button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.about .button button {
  border: 1px solid var(--third-color);
  padding: 10px;
  color: var(--txt-color);
  border-radius: 15px;
  background-color: black;
  margin-bottom: var(--section-padinng);
}
.about .button button:hover {
  background-color: var(--secondry-color);
  color: black;
  border: 1px solid black;
}
/* End about section */
/* start our prodects section */
.Products {
  background-color: var(--txt-color);
}
.Products .gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  margin-top: 80px;
}
.Products .gallery .card {
  background-color: var(--txt-color);
  position: relative;
}
.Products .gallery .card img {
  max-width: 100%;
}
.gallery .card h1 {

 display: flex;
 justify-content: center;
 align-items: center;
 color: var(--txt2-color);
  

}

/* End our prodects section */
/* start contact */
.contact {
  background-color: var(--secondry-color);
}
.contact .input  {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.contact .input textarea {
  margin-top: 20px;
  border: 2px solid var(--txt2-color);
}
.contact .input textarea:focus {
  outline: 1px solid var(--main-color);
  border: 2px solid var(--main-color);
}
.contact .button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact button {
  width: 750px;
  
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  padding: 15px;
  border-radius: 15px;
  color: var(--txt-color);
}
.contact  button:hover {
  background-color: var(--third-color);
}
 .contact .social {
  display: flex;
  justify-content: center;

  margin-top: 40px;

 }
 .contact .social i {
  margin-left: 10px;
  color: var(--secondary-color);
  color: var(--txt2-color);
}
.contact .social .fasbook:hover {
  color: blue;
}
.contact .social .twiter:hover {
  color: rgba(23, 154, 230, 0.771);
}
.contact .social .fasbook:hover {
  color: blue;
}
.contact .social .youtube:hover {
  color: red;
}
.contact .social .instgram:hover {
  color: rgb(157, 16, 157);
}
.contact .social .pinters:hover {
  color: red;
}

/* End Content section  */
.footer {
  background-color: var(--third-color);
  color: white;
  padding: 30px 10px ;
  text-align: center;
  margin-top: 50px;
  
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--txt2-color);
}
/* End footer  */